$body:#f7f7f7;

$header-border:rgb(223, 222, 222);

$border:#E8F2F9;

$p-border:#818181;

$white:#fff;

$shadow: rgba(0 , 0 , 0 , 10%);

$font-color:#4A4A4A;

$button-background:#158CFA;

$box-shadow:rgba(48, 143, 255 , 50%);

$li-background:#ececef;

$p-color: #9B9B9B;

$pointer:#f7f7f7;

$icon:rgb(188 188 203);