#bar-slider{
    background-color:$whitef7;
    padding-top:60px;
    .update-bar{
        text-align:center;
        .bar{
            background-color: $whitee8;
            margin:20px 30px;
            border-radius:10px;
            font-size:1.6rem;
            padding:10px 0;
            color:$gray4a;
            font-weight:200;
            span{
                color:$blue1a;
                font-weight:600;
            }
        }
    }
    .slider{
        .container{
            .flexbox{
                column-gap:20px;
                position:relative;
                overflow-x: scroll;
                .pre-next{
                    img{
                        position:absolute;
                        top:50%;
                        transform:translateY(-50%);
                        width:64px;
                        height:auto;
                    }
                    .pre{
                        right:0;
                    }
                    .next{
                        left:0;
                    }
                }
                .col{
                    width:50%;
                    border-bottom:solid 1px $whitee0;
                    margin-bottom:20px;
                    img{
                        width:100%;
                        height:auto;
                        border-radius:15px;
                    }
                    h1{
                        color:$gray4a;
                        font-size:20px;
                        margin:5px 0;
                    }
                    p{
                        color:$gray9b;
                        font-size:13px;
                    }
                }
            }
        }
    }
}