html{
    font-size:10px;
}
body{
    font-family: Vazirmatn;
}
.container-full{
    width:100%;
    padding:0 75px;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.flexbox{
    display: flex;
    justify-content:space-between;
    align-items:center;
}