$whiteff:#fff;
$whitef7:#F7F7F7;
$whitee8:#E8F2F9;
$whiteec:#ECECEF;
$blue15:#158CFA;
$blue30:#308FFF;
$blue00:#0091FF;
$blue1a:#1A73B1;
$gray34:#343F4B;
$gray33:#333333;
$gray4a:#4A4A4A;
$gray8e:#8E8E93;
$gray9b:#9B9B9B;
$graye0:#E0E0E0;